<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=INSTANCE-1;Initial Catalog=Tutorial;user id=sa;password=Admin@123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>