<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  
  <connectionStrings>
    <add name="SampleConnectionString" connectionString="Data Source=ASEEMRLTOP;Initial Catalog=TutorialDay19;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>